<div class="gallery_items">
  <div class="hvrbox" (click)='open_floating("https://sun9-21.userapi.com/c850332/v850332545/c6686/guWm0ZskoqM.jpg")'>
    <img src="https://sun9-21.userapi.com/c850332/v850332545/c6686/guWm0ZskoqM.jpg" alt="Mountains" class="hvrbox-layer_bottom">
    <div class="hvrbox-layer_top">
      <div class="hvrbox-text">Шапка ВК</div>
    </div>
  </div>
  <div class="hvrbox" (click)='open_floating("https://sun9-5.userapi.com/impg/t65dsuGeBIAt77DEFvwWDkTvwTzjFru0KXs2Ug/nX8hXRYCOys.jpg?size=1600x1066&quality=96&proxy=1&sign=02db9f71b733de4408855c2e49793411&type=album")'>
    <img src="https://sun9-5.userapi.com/impg/t65dsuGeBIAt77DEFvwWDkTvwTzjFru0KXs2Ug/nX8hXRYCOys.jpg?size=1600x1066&quality=96&proxy=1&sign=02db9f71b733de4408855c2e49793411&type=album" alt="Mountains" class="hvrbox-layer_bottom">
    <div class="hvrbox-layer_top">
      <div class="hvrbox-text">Рождество 2021. Аргамач-Пальна, Елецкий район.</div>
    </div>
  </div>
</div>
