<div
  id="mapPlaceHTML">
  <div id='mapAddPlace'></div>
</div>

<form
  class="add-place__form"
  [formGroup]="form">
  <mat-form-field>
    <input
      placeholder="name"
      formControlName="name"
      matInput>
    <mat-error *ngIf="form.get('name').hasError('validatePlace')">
      Такое название места уже существует
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      placeholder="scale"
      formControlName="scale"
      matInput>
  </mat-form-field>

  <mat-form-field>
    <input
      placeholder="icon"
      formControlName="icon"
      matInput>
  </mat-form-field>
</form>

<div class="add-place__button__wrapper">
  <ng-container *ngIf="!(isCreating$ | async); else isCreatingBLock">
    <button
      mat-button
      [disabled]="!isValid"
      (click)="savePlace()">
      Добавить новое место путешествий
    </button>
  </ng-container>
  <ng-template #isCreatingBLock>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>


