.notFound {
  height: 20vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  position: relative;
}

#loading {
  position: absolute;
}

#loading-bar {
  height: 3px;
  width: 1000px;
  margin: 0 auto;
}
