.place-routes-editor__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#mapPlaceHTML {
  display: block;
  width: 400px;
}

#mapPlaceEditor {
  height: 400px;
  width: 400px;
  border-radius: 10px;
  position: relative;
  z-index: 500;
}

.row__table {
  margin-left: 20px;
  width: 600px;
}

.mat-table {
  width: 100%;
}
