<mat-toolbar color="primary" class="head">
    <div class="row"> 
        <button mat-icon-button [matMenuTriggerFor]="vert_menu"><mat-icon>more_vert</mat-icon></button>

        <mat-menu #vert_menu="matMenu">
            <button mat-menu-item  (click)=navigateToAbout()>О клубе</button>
            <button mat-menu-item  routerLink="/map">Карта</button>
    
            <button mat-menu-item  routerLink="/gallery">Фотогалерея</button>
            <button mat-menu-item  routerLink="/contacts">Контакты</button>
        </mat-menu>

        <mat-menu #logo_menu="matMenu">
            <button mat-menu-item (click)=navigateToMain()>Главная</button>
            <button mat-menu-item>Про нашу эмблему</button>
        </mat-menu>
        <img src='./assets/images/logo.ico' height=45px (click)=navigateToMain() [matMenuTriggerFor]="logo_menu">
    </div>


    <div class="buttons">
        <button mat-button class="class-elements" (click)=navigateToAbout()>О клубе</button>
        <button mat-button class="class-elements" routerLink="/map">Карта</button>

        <button mat-button class="class-elements" routerLink="/gallery">Фотогалерея</button>
        <button mat-button class="class-elements" routerLink="/contacts">Контакты</button>
    </div>

        
</mat-toolbar>

<mat-card class="static">
    <router-outlet></router-outlet>
</mat-card>    


<img src='./assets/images/1.png' height=50px>

<mat-spinner class="align-center"></mat-spinner>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>

<footer>
    <mat-toolbar color="primary" class="footer">
        Copyleft       </mat-toolbar>
</footer>


