.example-button-row button,

.example-button-row a {
  margin-right: 80px;
}

.align-center {
  margin: 0 auto;
}


.img-board {
  cursor: pointer;
  margin-right: 100px;
  margin-left: 100px;
  opacity: 1;
}
.img-board:hover {
  opacity: 0.8;
}


.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.static {
  width: 960px;
  margin: 0 auto;
  margin-top: 10px; 
}

.class-elements {
  margin-left: 50px;
  margin-right: 50px;
}

.head {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
       box-shadow: 0 10px 6px -6px #777;
}
