@media only screen and (max-device-width: 620px) {


  .class-elements {
    display: none;
  }

  .buttons {
    display: none;
  }

  .img-board {
    margin-right: 50%;
    margin-left: 50%;
  }
}


@media only screen and (min-device-width: 620px) {

  .threeDots {
    display: none;
  }

  .class-elements {
    display: block;
  }

  .static {
    width: 950px;
  }
}

.row {
  margin-top: 7px;
  display: flex;
}

.align-center {
  margin: 0 auto;
}


.img-board {
  cursor: pointer;
  opacity: 1;
}

.img-board:hover {
  opacity: 0.8;
}


.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.static {
  margin: 0 auto;
  margin-top: 70px;
}

.class-elements {
  margin-left: 50px;
  margin-right: 50px;
}

.head {
  top:0;
  left:0;
  right:0;
  position: fixed;
  z-index: 10000;
  opacity: 0.8;

  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
       box-shadow: 0 10px 6px -6px #777;
}

.footer {
  left: 0;
  right: 0;
}

.body {
  color: #0000cd;
}

.mat-toolbar.mat-primary {
  background: #ffffff;
  color: #000000;
}


