<mat-toolbar color="primary" class="head-row">

        <button mat-button class="class-elements">О клубе</button>
        <button mat-button class="class-elements">Карта</button>

            <img class="img-board" src='./assets/images/logo.ico' height=50px >
        
        <button mat-button class="class-elements">Фотогалерея</button>
        <button mat-button class="class-elements">Контакты</button>
        
</mat-toolbar>
<img src='./assets/images/1.png' height=50px>

<mat-spinner class="align-center"></mat-spinner>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
