@media only screen and (max-device-width: 620px) {
  /*Mobile styles*/
  .links {
    display: none;
  }

  .links button {
    display: none;
  }

  #main-body {
    background: url(../../assets/images/background_main.png) no-repeat;
    background-size: cover
  }

  .main-header {
    height: 7.5vh;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
  }

  .main-header img {
    margin: auto 3%;
  }
}

@media only screen and (min-device-width: 620px) {
  /*Full version styles*/
  #main-body {
    background: url(../../assets/images/background_main.png) no-repeat;
    background-size: calc(100% + 50px)
  }

  .main-header {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }

  .main-header img {
    margin: auto .5%;
  }

  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu-button {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2%;
}

.general::-webkit-scrollbar {
  display: none;
}

.scrolldown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3%;
  height: 5vh;
  margin-left: auto;
  top: 89%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
}
.chevron {
  position: absolute;
  width: 1.4rem;
  height: 0.32rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}
.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}
.chevron:before, .chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #ffffff;
}
.chevron:before {
  left: 0;
  transform: skewY(30deg);
}
.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(1.52rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(2.08rem);
  }
  100% {
    opacity: 0;
    transform: translateY(3.2rem) scale(0.5);
  }
}

.general {
  -ms-overflow-style: none;
}

.content-container {
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;

}

.content {
  margin: 3% 2%;
}

#main-body {
  top: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
  display: flex;
}

.main-header {
  width: 100%;
  position: fixed;
  display: flex;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,.8) 0%, rgba(255,255,255,.3) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,.8) 0%, rgba(255,255,255,.3) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,.8) 0%, rgba(255,255,255,.3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.title {
  position: absolute;
  align-self: center;
  margin-left: auto;
  text-align: center;
  font-family: "Product Sans", "Helvetica Neue", sans-serif;
  font-size: 150%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.title h1, h4 {
  color: white;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title h4 {
  font-weight: lighter;
}

.main-header img {
  max-height: 5vh;
  cursor: none;
}

.links {
  margin-left: auto;
  margin-right: 1%;
  height: 6vh;
  white-space: nowrap;
  display: flex;
}

.links button {
  margin-top: auto;
  margin-bottom: auto;
}
