.place-routes-editor__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.row__table {
  margin-left: 20px;
  width: 600px;
}

.mat-table {
  width: 100%;
}

.mat-button {
  width: 100%;
}
