<!--<mat-toolbar color="primary" class="head">-->

<!--    -->
<!--      <button mat-icon-button class="threeDots" [matMenuTriggerFor]="vert_menu"><mat-icon>more_vert</mat-icon></button>-->
<!--      <mat-menu #vert_menu="matMenu">-->
<!--        <button mat-menu-item  (click)=navigateToAbout()>О клубе</button>-->
<!--        <button mat-menu-item  routerLink="/map">Карта</button>-->

<!--        <button mat-menu-item  routerLink="/gallery">Фотогалерея</button>-->
<!--        <button mat-menu-item  routerLink="/contacts">Контакты</button>-->
<!--      </mat-menu>-->




<!--    <div class="buttons">-->

<!--    </div>-->

<!--</mat-toolbar>-->
<div class="content">
  <header class="row">
    <button mat-button class="class-elements" (click)=navigateToAbout()>О клубе</button>
    <button mat-button class="class-elements" routerLink="/map">Карта</button>
    <div class="img-board">
      <img src='./favicon.ico' height=45px [matMenuTriggerFor]="logo_menu">
      <mat-menu #logo_menu="matMenu">
        <button mat-menu-item (click)=navigateToMain()>Главная</button>
        <button mat-menu-item (click)=navigateToAbout()>Про нашу эмблему</button>
      </mat-menu>
    </div>
    <button mat-button class="class-elements" routerLink="/gallery">Фотогалерея</button>
    <button mat-button class="class-elements" routerLink="/contacts">Контакты</button>
  </header>
    <router-outlet></router-outlet>

</div>

