@media only screen and (max-device-width: 620px) {
  .class-elements {
    display: none;
  }

  .buttons {
    display: none;
  }

}

@media only screen and (min-device-width: 620px) {
  .threeDots {
    display: none;
  }

  /*.class-elements {*/
  /*  display: block;*/
  /*}*/

  .content {
    width: 1000px;
    margin: 0 auto;
  }
}

.row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  justify-items: center;
  align-items: center;
  background-color: #aad3df;
  border-radius: 0 0 10px 10px;
  padding: 10px;

  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.class-elements {
  height: 50px;
  color: #f2efe9;
  font-size: 20px;
  text-shadow: grey 1px 1px 0, grey 2px 2px 0,
  grey 2px 2px 0, grey 2px 2px 0,
  grey 2px 2px 0;
}

.align-center {
  margin: 0 auto;
}


.img-board {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  opacity: 1;
  transform: scale(1)
}

.img-board:hover {
  opacity: 0.8;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.static {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}



.head {
  width: 100%;
  top:0;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  z-index: 10000;
  /*-webkit-box-shadow: 0 10px 6px -6px #777;*/
  /*-moz-box-shadow: 0 10px 6px -6px #777;*/
  /*box-shadow: 0 10px 6px -6px #777;*/
  /*border-radius: 0 0 10px 10px;*/
}

.body {
  color: white;
}

.mat-toolbar.mat-primary {
  background: rgba(255, 255, 255, 0.3);
  color: #000000;
}


