.align {
  text-align: center;
}

.example-radio-group {
  display: flex;
  flex-direction: row;
}

#mapHTML {
  position: relative;
  z-index: 500
}

.mat-rad {
  margin: 0px 10px 10px 10px;
}

.flex {
  display: flex;
}

::ng-deep.leaflet-control-fullscreen a {
  background:#fff url(../../../../assets/images/fullscreen.png) no-repeat 0 0;
  background-size:26px 52px;
}
::ng-deep.leaflet-touch .leaflet-control-fullscreen a {
  background-position: 2px 2px;
}
::ng-deep.leaflet-fullscreen-on .leaflet-control-fullscreen a {
  background-position:0 -26px;
}
::ng-deep.leaflet-touch.leaflet-fullscreen-on .leaflet-control-fullscreen a {
  background-position: 2px -24px;
}
::ng-deep.leaflet-container:-webkit-full-screen {
  width:100%!important;
  height:100%!important;
}
::ng-deep.leaflet-container.leaflet-fullscreen-on {
  width:100%!important;
  height:100%!important;
}

::ng-deep.leaflet-pseudo-fullscreen {
  position:fixed!important;
  width:100%!important;
  height:100%!important;
  top:0!important;
  left:0!important;
  z-index:99999;
}

@media
(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
  .leaflet-control-fullscreen a {
    background-image:url(../../../../assets/images/fullscreen@2x.png);
  }
}


table.legends{
  margin-top: 10px;
  width: 100%;
  border-collapse:collapse;
  border-spacing:0;
  height: auto;
}
table.legends,table.legends td {
  border: 0px solid #595959;
}

table.legends td {
  padding: 3px;
  height: 35px;
}

.td__img {
  width: 25px;
  text-align: right;
}

.td__txt {
  text-align: left;
}
