<mat-radio-group
  [(ngModel)]="selectedMap">
  <mat-radio-button *ngFor="let season of seasons"
                    [value]="season"
                    class="mat-rad"
                    (change)="changeMapStyle($event)">
    {{season}}
  </mat-radio-button>
</mat-radio-group>

  <div id="mapHTML"></div>

<table class="legends">
  <tr>
    <td class="td__img">
      <img src="../../../../assets/images/location.svg" width="25" alt="icon"/>
    </td>
    <td class="td__txt"> — область походов</td>

    <td class="td__img">
      <img src="../../../../assets/images/office.svg" width="25" alt="icon"/>
    </td>
    <td class="td__txt"> — начало маршрута</td>
  </tr>
  <tr>
    <td class="td__img">
      <img src="../../../../assets/images/tent.svg" width="25" alt="icon"/>
    </td>
    <td class="td__txt"> — ночевка</td>

    <td class="td__img">
      <img src="../../../../assets/images/arrived.svg" width="25" alt="icon"/>
    </td>
    <td class="td__txt"> — конец маршрута</td>
  </tr>
</table>

