/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Product+Sans:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}


#floating {
  overflow: hidden;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: visibility .3s, opacity .3s linear, background-color .3s linear;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#fimg {
  margin-right: auto;
  margin-left: auto;
  align-self: center;
  border-radius: 4px;
  height: 30vw;
}

.wide {
  max-height: 20vw;
}

.fcb {
  margin: 1%;
  font-size: 30pt;
  position: absolute;
  cursor: pointer;
}
